:root {
  --Primary-bg-color: #0b0d0e;
  --Secondary-bg-color: #242424;
  --Third-bg-color: #191919;
  --Primary-font-color: #ffffff;
  --Seconday-font-color: #35c6df;
  --Footer-font-color: #bcbbbb;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Primary-bg-color);
  color: var(--Primary-font-color);
}
